.transaction-form {

    align-self: flex-start;
    max-width: 30rem;
    margin: 1rem ;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &--disabled{

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    &__field {

        width: 100%;
        
    
        &--label , &--input {
    
            display: block;
            padding: .8rem;
        }
    
        &--label {
    
            text-transform: lowercase;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: .21rem;
            color: #053131;
        }
    
        &--input{
            width: 100%;
            outline: none;
            border:1px solid #644a02;
            transition: all 0.1s ease-in;
            
            &::placeholder {
    
                font-size: 1rem;
                font-weight: 300;
                letter-spacing: .2rem;
                text-transform: lowercase;
            }
    
            &:focus{
    
                border: 2px solid #2e8559;
                box-shadow: 0 .4rem .8rem #c5c5c5;
            }
        }
    }

    &__button {


        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        margin: 1.4rem 0;
        padding:.8rem;
        cursor: pointer;
        text-transform: lowercase;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: .14rem;
        background: #ffffff;
        color: #040d1a;
        border: 1.4px solid #077179;
        transition: all 0.2s ease-in;
    
        &:hover{
            background: #0a1c1f;
            color: #dfffff;
        }
    
        &--arrow {
            height: 1.8rem;
            margin-left:1rem;
        }

        &--disabled{
            cursor: not-allowed;
            
            background: #10314d;
            color: #eff1ff;

            &:hover{
                background: #10314d;
                color: #eff1ff;
            }
        }
    }
}