.update-form-photo {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 31rem;

    @media (max-width: 410px)
    {
       width: 90%;
    }

    &__field {

        width: 100%;
    
        &--label {
            display: inline-block;
            text-transform: lowercase;
            padding: .58rem;
            margin: .4rem 0;
            font-size: 1.4rem;
            font-weight: 500;
            letter-spacing: .21rem;
            color: #053131;
        }
    
        &--input{

            width: 100%;
            padding: .7rem;
            outline: none;
            border:1px solid #644a02;
            cursor: pointer;
            transition: all 0.1s ease-in;

        }
    }

    &__button {


        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        margin: 1.4rem 0;
        padding:.7rem;
        cursor: pointer;
        text-transform: lowercase;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: .14rem;
        background: #ffffff;
        color: #040d1a;
        border: 1.4px solid #077179;
        transition: all 0.2s ease-in;
    
        &:hover{
            background: #0a1c1f;
            color: #dfffff;
        }
    
        &--arrow {
            height: 1.8rem;
            margin-left:1rem;
        }
    }
}