.transaction {

    min-width: 30rem;
    max-width: 48rem;
    min-height: 3rem;
    margin: 1.4rem 0;
    padding: .58rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1.8px solid #031722;
    border-left: 8px solid #0a2733;

    @media (max-width: 512px)
    {
        max-width: 100%;
        margin: 1.4rem auto;
    }

    &__details{

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 1.4rem;
        flex-wrap: wrap;
    }

    &--name{
        font-weight: 400;
        font-size: 1.4rem;
        text-transform: lowercase;
        letter-spacing: .14rem;
        color: #031818;
    }

    &--amount{

        font-family: "Madimi One", sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
        color: #021118;
    }

    &--icon{

        width: 1.6rem;
        height: 1.6rem;
        cursor: pointer;
        margin-left: 1rem;
    }
}





